<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Create New Reclamation</title>
<link rel="stylesheet" href="../css/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">


<style>
.AnavH:hover{
	text-decoration : none ;
	color : white ;
}
.AnavV:hover{
	text-decoration : none ;
	color : white ;
}

</style> 
</head>
<body>

<ul class="navH">
  <li class="LiNavH" style="letter-spacing: 2px;"><a href="#home" class="AnavH">Espace Etudiant</a></li>
 
  <li class="LiNavH" style="float:right ; letter-spacing : 2px;"><a class="AnavH">Bonjour Etudiant</a></li>
</ul>

<ul class="navV">
  <li class="LinavV"><a class="AnavV" href="/3" id="active1" style="font-size : 14px ;"><i class="fa fa-fw fa-home" style="padding-right:7px; font-size:20px;"></i>Accuiel</a></li>
  <li class="LinavV"><a href="/modules/3" class="AnavV" style="font-size : 14px ;"><i class="fa fa-book" style="padding-right:7px; font-size:20px;"></i>Modules</a></li>
  <li class="LinavV"><a href="/notes/3" class="AnavV" style="font-size : 14px ;"><i class="fa fa-check-square-o" style="padding-right:7px; font-size:20px;"></i>Notes</a></li>
  <li class="LinavV"><a href="/reclamationsP/3" class="AnavV" style="font-size : 14px ;"><i class="fa fa-fw fa-envelope" style="padding-right:7px; font-size:20px;"></i>Reclamations</a></li>
  <li class="LinavV"><a href="#PFE" class="AnavV" style="font-size : 14px ;"><i class="fa fa-graduation-cap" style="padding-right:7px; font-size:20px;"></i>PFE</a></li>
  <li class="LinavV"><a href="/infos/3" class="AnavV" style="font-size : 14px ;"><i class="fa fa-user-circle" style="padding-right:7px; font-size:20px;"></i>Profile</a></li>
<li class="LinavV"><li class="LinavV">
  
  <form class=" AnavV form-inline my-2 my-lg-0" th:action="@{/logout}" style="font-size : 14px ;" method="post">
   <!-- <span th:text ="${#authentication.getPrincipal().getUser().getNom()}"></span>-->
   
    <span class="nav-link"></span>
    <i class="fa fa-sign-out" style="font-size:16px; font-color : white ; padding-right:7px;"></i>
      <input type="submit" class="btn btn-submit" value="logout">
    </form>
    
    </li>
</ul>
 
 <div style="background-color: #e8e8e8;  padding :2px; margin-top:48px; margin-left:17%; color : grey ;"><i class="fa fa-fw fa-home" style="padding-right:7px; font-size:20px; margin-left:4px;"></i>/ Reclamations / Nouvelle reclamations</div>
 
<div style="margin-left:25%;padding:1px 16px;height:1000px; margin-top:48px;">
  

    <div>
        <br/>
        <form action="#" th:action="@{/saveReclam}" th:object="${reclamationsE}"
            method="post">
 
            <table>
             <!-- 
                 <tr>
                    <td>Professeur :</td>
                    <td><select th:field="*{prof}" required>
                        <th:block th:each="prof : ${listeProfs}">
                           <option th:text="${prof.id_util.nom_util}" th:value="${prof.id_prof}">
                        </th:block>
                    </select></td>
                </tr> -->

                <div class="form-group">
                  <label for="exampleFormControlSelect1">professeur destinateur</label>
                  <select class="form-control" id="exampleFormControlSelect1" th:field="*{professeur}" style="width:90%;">
                      <th:block th:each="prof : ${listeProfs}">
                           <option th:text="${prof.nom}" th:value="${prof.id}">
                      </th:block>
                  </select>
                </div>
                <!-- <tr>
                    <td>Reclamation :</td>
                    <td><input type="text" th:field="*{contenuReclEtud}" /></td>
                </tr>
                 -->
                <div class="form-group">
                   <label for="exampleFormControlTextarea1">Reclamation</label>
                   <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" th:field="*{contenuReclEtud}"
                   style="width:90%; "></textarea>
                </div>
             
                <tr>
                    <td colspan="2"><button type="submit" class="btn btn-warning">Envoyer</button> </td>
                </tr>
            </table>
        </form>
    </div>
 </div>
</body>
</html>